In [1]:
import numpy as np # linear algebra
import pandas as pd 
import re

In [2]:
df_training = pd.read_csv('training.csv')
df_test = pd.read_csv('testing.csv')
df_training.head()

                                                text  spam
0  Subject: double coverage amount , same payment...     1
1  Subject: storage meeting  ladies and gentlemen...     0
2  Subject: grades  pam ,  another team :  elena ...     0
3  Subject: contact info  fyi !  - - - - - - - - ...     0
4  Subject: re : hi :  thanks vince :  could you ...     0

In [3]:
#Para ver si la muestra está balanceada. Vemos que no lo está, pero tampoco es un caso extremo.
a = df_training.sum(axis = 0, skipna = True)
b = df_training.count()
Balance = a['spam'] / b['spam']
print(Balance)

0.2395

In [4]:
#Eliminar caracteres que no sean los siguientes:

#Elegimos los que creemos convenientes
pattern = '([^A-Za-z0-9 @]|Subject)'
res = []

for t in df_training["text"]:
   res.append(re.sub(pattern, '', t))

clas = df_training["spam"]
df_training = pd.DataFrame(list(zip(res, clas)), columns = 'text spam'.split())

In [5]:
df_training

                                                   text  spam
0      double coverage amount  same payment    uyz  ...     1
1      storage meeting  ladies and gentlemen   due t...     0
2      grades  pam   another team   elena chilkina  ...     0
3      contact info  fyi                         for...     0
4      re  hi   thanks vince   could you give me mik...     0
...                                                 ...   ...
3995   california update 3  06  01  executive summar...     0
3996   aram  rick   aram is coming to houston  in my...     0
3997   re  hello from vince kaminski at enron  vince...     0
3998   vince   i  ll have him e  mail you a cv   i  ...     0
3999   re  conference  phelim   thanks again for the...     1

[4000 rows x 2 columns]

In [6]:
import nltk 
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
fs =[]
fs_df = []
example_sent = "This is a sample sentence, showing off the stop words filtration."
  
stop_words = set(stopwords.words('english')) 

for t in df_training['text']: 

  word_tokens = word_tokenize(t) 
  
  filtered_sentence = [w for w in word_tokens if not w in stop_words] 
  
  filtered_sentence = [] 
  
  for w in word_tokens: 
      if w not in stop_words: 
         filtered_sentence.append(w)
         #fsentence = ' '.join([str(elem) for elem in filtered_sentence])
  #fs_df.append(fsentence)
  fs.append(filtered_sentence)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/paulaluvini/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/paulaluvini/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [7]:
#Guardo los mails limpios de stopwords en el dataframe.

clas = df_training["spam"]
df_training = pd.DataFrame((list(zip(fs, clas))), columns = 'text spam'.split())
print(df_training.head())

                                                text  spam
0  [double, coverage, amount, payment, uyz, save,...     1
1  [storage, meeting, ladies, gentlemen, due, una...     0
2  [grades, pam, another, team, elena, chilkina, ...     0
3  [contact, info, fyi, forwarded, shirley, crens...     0
4  [hi, thanks, vince, could, give, mike, roberts...     0

In [8]:
#for i in range(len(df_training['text'])):
 # df_training['text'].iloc[i] = " ".join(df_training['text'].iloc[i])

In [9]:
df_training['text']

0       [double, coverage, amount, payment, uyz, save,...
1       [storage, meeting, ladies, gentlemen, due, una...
2       [grades, pam, another, team, elena, chilkina, ...
3       [contact, info, fyi, forwarded, shirley, crens...
4       [hi, thanks, vince, could, give, mike, roberts...
                              ...
3995    [california, update, 3, 06, 01, executive, sum...
3996    [aram, rick, aram, coming, houston, view, expl...
3997    [hello, vince, kaminski, enron, vince, audienc...
3998    [vince, e, mail, cv, happy, speak, power, risk...
3999    [conference, phelim, thanks, invitation, speak...
Name: text, Length: 4000, dtype: object

In [10]:
from nltk import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
contador =0
lemmatized = []
for t in df_training['text']:  
  res = []
  #doc = ' '.join([str(elem) for elem in t])
  for word in t:
    res.append( lemmatizer.lemmatize(word))
  df_training['text'].iloc[contador] = " ".join(res)
  contador = contador +1 
  #lemmatized.append(res)

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/paulaluvini/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/home/paulaluvini/whatever/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [11]:
df_training['text']

0       double coverage amount payment uyz save 75 ter...
1       storage meeting lady gentleman due unavailabil...
2       grade pam another team elena chilkina robert j...
3       contact info fyi forwarded shirley crenshaw ho...
4       hi thanks vince could give mike robert contact...
                              ...
3995    california update 3 06 01 executive summary co...
3996    aram rick aram coming houston view explore pos...
3997    hello vince kaminski enron vince audience cons...
3998    vince e mail cv happy speak power risk confere...
3999    conference phelim thanks invitation speak conf...
Name: text, Length: 4000, dtype: object

In [12]:
def review_messages(msg):
    # converting messages to lowercase
    msg = msg.lower()
    return msg

In [13]:
data = pd.DataFrame()
data['text'] = df_training['text'].apply(review_messages)

In [14]:
data['text']

0       double coverage amount payment uyz save 75 ter...
1       storage meeting lady gentleman due unavailabil...
2       grade pam another team elena chilkina robert j...
3       contact info fyi forwarded shirley crenshaw ho...
4       hi thanks vince could give mike robert contact...
                              ...
3995    california update 3 06 01 executive summary co...
3996    aram rick aram coming houston view explore pos...
3997    hello vince kaminski enron vince audience cons...
3998    vince e mail cv happy speak power risk confere...
3999    conference phelim thanks invitation speak conf...
Name: text, Length: 4000, dtype: object

In [15]:

data['label'] = df_training['spam']

In [16]:
X_train = data['text']

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)

In [18]:
print(X_train)

  (0, 3583)	0.09485154813638648
  (0, 22628)	0.11934565322519695
  (0, 21431)	0.10030583292385752
  (0, 3917)	0.08207343354188217
  (0, 21384)	0.11833803914978167
  (0, 19668)	0.07202852189341878
  (0, 4311)	0.09852960184623051
  (0, 24234)	0.09225899733502023
  (0, 21518)	0.05578808348692068
  (0, 22167)	0.20711027712663388
  (0, 14814)	0.10804951199690023
  (0, 18130)	0.07794290439018751
  (0, 16400)	0.07794290439018751
  (0, 4307)	0.07338448855437621
  (0, 12311)	0.1738852986936335
  (0, 12778)	0.13888664850258975
  (0, 3121)	0.06425544025728223
  (0, 16990)	0.23667607829956333
  (0, 16700)	0.07437745719036698
  (0, 7278)	0.0658281107635284
  (0, 26997)	0.06055489055488767
  (0, 21073)	0.08665718997994157
  (0, 23303)	0.06367217920279365
  (0, 7058)	0.09403522841264722
  (0, 11913)	0.11560588978774805
  :	:
  (3999, 16424)	0.10591168646568293
  (3999, 16952)	0.07457871256001215
  (3999, 19027)	0.05534810002808194
  (3999, 21682)	0.060977994699461024
  (3999, 367)	0.05022472676281651
  (3999, 25236)	0.08238597579060948
  (3999, 13951)	0.12017238417238287
  (3999, 772)	0.040077802783739916
  (3999, 27802)	0.05961338518298105
  (3999, 11903)	0.06533465474118873
  (3999, 26705)	0.039915699940304104
  (3999, 27114)	0.08811175960555832
  (3999, 25596)	0.08486243843297202
  (3999, 11703)	0.057264679102391566
  (3999, 25873)	0.03406311333645033
  (3999, 6702)	0.036301093674071916
  (3999, 10851)	0.03318528336809796
  (3999, 7503)	0.038073539023471846
  (3999, 296)	0.04424212565994734
  (3999, 15720)	0.03815342107465998
  (3999, 28374)	0.09528411779278048
  (3999, 26702)	0.05306654718984461
  (3999, 1131)	0.05242191632562174
  (3999, 7808)	0.2592873265158945
  (3999, 17784)	0.053734393914934064

In [19]:
y_train = data['label']

In [20]:
from sklearn import svm
svm = svm.SVC()

svm.fit(X_train, y_train)

SVC()

In [21]:
svm

SVC()

In [22]:
#Eliminar caracteres que no sean los siguientes:

#Elegimos los que creemos convenientes
pattern = '([^A-Za-z0-9 @]|Subject)'
res = []

for t in df_test["text"]:
   res.append(re.sub(pattern, '', t))


df_test = pd.DataFrame(list(zip(res)), columns = 'text'.split())

In [23]:
df_test

                                                   text
0      interview schedule for greg mikkelson  attach...
1      re  we have all your favorite programs at inc...
2      re  mission impossible  hr associate groups r...
3      reply a  s  a  p  united trust bank limited  ...
4      re  clewlow  strickland derivatives book  and...
...                                                 ...
1723   6  50  annuity w  4  05  lifetime bailout  10...
1724   follow  up on siam workshop  i am forwarding ...
1725   regulatory var  tentative agenda for the rese...
1726   fw  fw  question about ernie  vince   i left ...
1727   re  power play book  vince   i  m really feel...

[1728 rows x 1 columns]

In [24]:

fs =[]
fs_df = []
example_sent = "This is a sample sentence, showing off the stop words filtration."
  
stop_words = set(stopwords.words('english')) 

for t in df_test['text']: 

  word_tokens = word_tokenize(t) 
  
  filtered_sentence = [w for w in word_tokens if not w in stop_words] 
  
  filtered_sentence = [] 
  
  for w in word_tokens: 
      if w not in stop_words: 
         filtered_sentence.append(w)
         #fsentence = ' '.join([str(elem) for elem in filtered_sentence])
  #fs_df.append(fsentence)
  fs.append(filtered_sentence)

In [25]:
df_test= pd.DataFrame((list(zip(fs))), columns = 'text'.split())

In [26]:
print(df_test.head())

                                                text
0  [interview, schedule, greg, mikkelson, attache...
1  [favorite, programs, incredibly, low, prices, ...
2  [mission, impossible, hr, associate, groups, r...
3  [reply, p, united, trust, bank, limited, 80, h...
4  [clewlow, strickland, derivatives, book, andy,...

In [27]:
from nltk import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
contador =0
lemmatized = []
for t in df_test['text']:  
  res = []
  #doc = ' '.join([str(elem) for elem in t])
  for word in t:
    res.append( lemmatizer.lemmatize(word))
  df_test['text'].iloc[contador] = " ".join(res)
  contador = contador +1 
  #lemmatized.append(res)

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/paulaluvini/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
df_test

                                                   text
0     interview schedule greg mikkelson attached ple...
1     favorite program incredibly low price cheapest...
2     mission impossible hr associate group recommen...
3     reply p united trust bank limited 80 haymarket...
4     clewlow strickland derivative book andy please...
...                                                 ...
1723  6 50 annuity w 4 05 lifetime bailout 10 penalt...
1724  follow siam workshop forwarding attention resu...
1725  regulatory var tentative agenda research lunch...
1726  fw fw question ernie vince left voice message ...
1727  power play book vince really feeling like blin...

[1728 rows x 1 columns]

In [29]:
#for i in range(len(df_test['text'])):
 # df_test['text'].iloc[i] = " ".join(df_test['text'].iloc[i])

In [30]:
df_test['text'] = df_test['text'].apply(review_messages)

In [31]:
X_test = df_test['text']

In [32]:
X_test = vectorizer.transform(X_test)

In [33]:
y_pred = svm.predict(X_test)

In [34]:
submission = pd.read_csv('submission.csv')

In [35]:
submission['Category']= y_pred

In [37]:
import pickle
pickl = {
    'vectorizer': vectorizer,
    'regressor': svm
}
pickle.dump( pickl, open( 'models' + ".p", "wb" ) )